@import "../variables";

.sidemenu1 {
background: $blueside;
width:18%;
height: 100vh;
padding-top:30px;

  & a{
    display: flex;
    text-align: left;
    flex-direction: column;
    color:#556CD2;
    padding:10px 8px 10px 20px;
    text-decoration: none;
    font-size:0.80rem;
  }
}


