/* Color Theme Swatches in Hex */
$blueside:#3554A1;
$white_dash-1-hex: #F25C93;
$white_dash-2-hex: #7A78F6;
$white_dash-3-hex: #F2F3FA;
$white_dash-4-hex: #73A3FF;
$white_dash-5-hex: #FE8C8C;

/* Color Theme Swatches in RGBA */
$white_dash-1-rgba: rgba(242,92,147, 1);
$white_dash-2-rgba: rgba(122,120,246, 1);
$white_dash-3-rgba: rgba(242,243,250, 1);
$white_dash-4-rgba: rgba(115,163,255, 1);
$white_dash-5-rgba: rgba(254,140,140, 1);

/* Color Theme Swatches in HSLA */
$white_dash-1-hsla: hsla(338, 85, 65, 1);
$white_dash-2-hsla: hsla(240, 87, 71, 1);
$white_dash-3-hsla: hsla(232, 44, 96, 1);
$white_dash-4-hsla: hsla(219, 100, 72, 1);
$white_dash-5-hsla: hsla(0, 98, 77, 1);